@use "./variables" as *;

@mixin mobile-version-logos{
    width: 19px;
    height: 16px;   
}
@mixin logos-desktop-version{
    width: 4vw;
    height: 4vh;
    object-fit: scale-down;
}
@mixin flexbox-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin typography-small{
font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 12px;
line-height: 100%;
letter-spacing: 3%;
color: $color-fg-primary;
}
@mixin typography-sub{
    font-family: Satoshi;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 3%;
color: $color-fg-secondary;
}