$font-size-small: 12px;  
$font-size-sub:   14px;   
$font-size-p:     16px;   
$font-size-h4:    18px;   
$font-size-h3:    20px;  

$color-primary: #1ED760;

$color-fg-primary:   #E0E0E0;  
$color-fg-secondary: #898989;  
$color-fg-tertiary:  #323232;

$color-fg-light-primary:   #1A1A1A;  
$color-fg-light-secondary: #6E6E6E;  

$color-bg-main:      #060606;  
$color-bg-primary:   #111111; 
$color-bg-secondary: #202020;

$color-bg-light-main:#F0F0F0; 

