@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../base/base";
@use "../base/reset";



.player-center,
.player-right {
   display: none;
}


.mobile-player-bar {
   display: flex;
   flex-direction: column;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   background: transparent;
}

  .mini-player {
    background: rgba(40, 40, 40, 0.98);
    border-radius: 12px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.08);
    margin: 0px 15px;
    height: 61px;
  }

  .mini-player-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mini-player-cover {
    width: 43px;
    height: 43px;
    border-radius: 6px;
  }

  .mini-player-info {

    h4 {
      font-size: $font-size-sub;
      color: $color-fg-primary;
      white-space: nowrap;
    }

    p {
      font-size: $font-size-small;
      color: $color-fg-secondary;
      margin: 2px 0 0;
    }
  }

  .mini-player-controls {
    display: flex;
    align-items: center;
    justify-content: center;

      img {
        width: 30px;
        height: 30px;
      }
    
  }


  .mini-player-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,0.15);
    border-radius: 0 0 12px 12px;
  }

  .mini-player-progress-bar {
    width: 40%; 
    height: 100%;
    background: $color-fg-primary;
    border-radius: 0 0 0 12px;
  }


@media (min-width: 500px) {
   .mobile-player-bar {
      display: none;
   }
}