@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../base/base" as *;
@use "../base/reset" as *;

.search-mobile {
background-color:$color-bg-primary;
}
//header//
.mobile-header-search{
width: 100%;
padding: 15px;
padding-top: 50px;
background-color: $color-bg-primary;
display: flex;
align-items: center;
gap: 15px;
.browse{
 position: relative; 
flex-grow: 1;
input {
width:100%;
height: 40px;
padding: 0 40px 0 15px;
border-radius: 10px;
background-color: $color-bg-secondary;
@include typography-search;
border: none;
outline: none;
}
img {
@include mobile-version-logos;
align-self: center;
position: absolute;
right: 8px;
}
}
img{
width: 35px;
height: 35px;
flex-shrink: 0;
}
}
//main//
.mobile-main-search{
h1{
font-family: "Satoshi", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 3%;
color: $color-fg-primary;
display: block;
padding: 15px;
}
h2{
font-family: "Satoshi", sans-serif;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 100%;
letter-spacing: 3%;
color: $color-fg-primary;
padding: 15px;
}
}
//cards//
.Discover {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
gap: 20px;
padding: 10px;
}
.discover-card {
width:100%;
aspect-ratio: 1.7/1;
border-radius: 10px;
position: relative;
background-color:rgba(30, 50, 100, 1);
overflow: hidden;   
p{
padding: 10px;
position: absolute;
left: 20px;
top: 20px;
z-index: 2;
color:rgba(255, 255, 255, 1);
font-family:"Satoshi";
font-weight: 900;
font-style: Black;
font-size: clamp(14px, 4vw, 18px);
line-height: 100%;
letter-spacing: 3%;
}
img {
width: 60%;
height: auto;
position: absolute;
top: 40px;
left: 65px;
transform: rotate(30deg);
overflow: hidden;
opacity: 1;
border-radius: 5px;
} 
}
.genres {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
opacity:0.6;
gap: 20px;
padding: 10px;
}
<<<<<<< Updated upstream
//media//
@media (max-width:768px){
    .search-mobile{
        display: none;
    }
}
@media (min-width:768px){
    .search-desktop{
=======
//desktop layout//
@media (min-width:768px){
.search-mobile {
    display: none;
}
}
@media (max-width:768px){
    .search-desktop {
>>>>>>> Stashed changes
        display: none;
    }
}
